@import "./reset.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,html{
  font-family: 'Pretendard';
}

:root{
  --main-0 : #FFFFFF;
  --main-5 : #F1EFFF;
  --main-10 : #D2CEFF;
  --main-20 : #BDB6FF;
  --main-30 : #9F94FF;
  --main-40 : #8C80FF;
  --main-50 : #6F60FF;
  --main-60 : #6557E8;
  --main-70 : #4F44B5;
  --main-80 : #3D358C;
  --main-90 : #2F286B;
  --grayscale-5 : #F2F3F6;
  --grayscale-10 : #D7D8E2;
  --grayscale-20: #C4C6D3;
  --grayscale-30 : #A9ABBF;
  --grayscale-40: #989BB3;
  --grayscale-50 : #7E82A0;
  --grayscale-60: #737692;
  --grayscale-70 : #595C72;
  --grayscale-80: #454858;
  --graysacle-90 : #353743;

}

@font-face {
  font-family: 'Pretendard';
  font-weight: 300;
  font-style: normal;
  src: url(../public/font/Pretendard-Light.ttf) format('ttf');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 400;
  font-style: normal;
  src: url(../public/fonts/Pretendard-Regular.ttf) format('ttf');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 500;
  font-style: normal;
  src: url(../public/font/Pretendard-Medium.ttf) format('ttf');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 600;
  font-style: normal;
  src: url(../public/font/Pretendard-SemiBold.ttf) format('ttf');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 700;
  font-style: normal;
  src: url(../public/fonts/Pretendard-Bold.ttf) format('ttf');
}